<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ProjetoPIM04.Properties.Settings.bdSistemaHotelConnectionString"
            connectionString="Data Source=YGOR-PC\SQLEXPRESS;Initial Catalog=bdSistemaHotel;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="ProjetoPIM04.Properties.Settings.ProjetoLoginConnectionString"
            connectionString="Data Source=YGOR-PC\SQLEXPRESS;Initial Catalog=ProjetoLogin;Integrated Security=True;MultipleActiveResultSets=False;Connect Timeout=30;TrustServerCertificate=False;Application Name=&quot;Microsoft SQL Server Data Tools, SQL Server Object Explorer&quot;"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>